---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","sender":{"first_name":"Luis","last_name":"Buenaventura","email":"7786f48469c0dc6f4a9c23a57feafbcf@email.com","mobile":"+639175551111"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b845b559df2a9bc324875620664495b0"
    body:
      encoding: UTF-8
      string: '{"sender":{"id":"23fee092-f417-4a62-80bb-f1a176f05fe9","email":"7786f48469c0dc6f4a9c23a57feafbcf@email.com","first_name":"Luis","last_name":"Buenaventura","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":"+639175551111","address":null,"city":null,"state":null,"zip_code":null,"country":"PH","birthdate":null},"password":"560ad6bd464b42fd164c5354c1a2ae04"}'
  recorded_at: Wed, 26 Apr 2017 07:49:10 GMT
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders/23fee092-f417-4a62-80bb-f1a176f05fe9/recipients.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","recipient":{"sender_id":"23fee092-f417-4a62-80bb-f1a176f05fe9","first_name":"Jack
        John","last_name":"S. Ong","mobile":"+6398199818181"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36f8c2b01f186bbdd23bc2fa3cff0c95"
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"080dc2d2-9ffc-48b3-af05-6bc2ed455ad8","first_name":"Jack
        John","last_name":"S. Ong","email":null,"mobile":"+6398199818181","sender_id":"23fee092-f417-4a62-80bb-f1a176f05fe9","address":null,"zip_code":null,"city":null,"state":"Metro
        Manila","country":"PH"}}'
  recorded_at: Wed, 26 Apr 2017 07:49:11 GMT
- request:
    method: get
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders/23fee092-f417-4a62-80bb-f1a176f05fe9/recipients.json?api_secret=[api_secret]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54e49b316a640ee45175d0865b0e0b82"
    body:
      encoding: UTF-8
      string: '[{"id":"080dc2d2-9ffc-48b3-af05-6bc2ed455ad8","first_name":"Jack John","last_name":"S.
        Ong","email":null,"mobile":"+6398199818181","created_at":"2017-04-26T15:49:11.637+08:00","state":"Metro
        Manila","country":"PH"}]'
  recorded_at: Wed, 26 Apr 2017 07:49:12 GMT
recorded_with: VCR 3.0.3
