---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","sender":{"first_name":"Luis","last_name":"Buenaventura","email":"5b972aff0f7691791878e644b688b118@email.com","mobile":"+639175551111"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5965c5973d2b43ab01312d9ef8afce3c"
    body:
      encoding: UTF-8
      string: '{"sender":{"id":"d0cd7ffb-1dcc-44e3-818c-4a3c8633f127","email":"5b972aff0f7691791878e644b688b118@email.com","first_name":"Luis","last_name":"Buenaventura","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":"+639175551111","address":null,"city":null,"state":null,"zip_code":null,"country":"PH","birthdate":null},"password":"767307cea80b54f6d51b3680cff2ddc5"}'
  recorded_at: Wed, 26 Apr 2017 07:48:56 GMT
recorded_with: VCR 3.0.3
