---
http_interactions:
- request:
    method: post
    uri: https://api.bloom.solutions/api/v1/partners/[api_token]/senders.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"sender":{"first_name":"Luis","last_name":"Buenaventura","email":"384982d2878cd2bf21958ae2edb4a9be@email.com","mobile":"+639175551111"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e644f54798468b9e077b29fb529c3cb6"
    body:
      encoding: UTF-8
      string: '{"sender":{"id":"5e4e381b-38d4-4027-bd35-40458e8cd14d","email":"384982d2878cd2bf21958ae2edb4a9be@email.com","first_name":"Luis","last_name":"Buenaventura","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":"+639175551111","address":null,"city":null,"state":null,"zip_code":null,"country":"PH","birthdate":null},"password":"9f7c8e5a3658aef7a15d1697e6ecbff9"}'
  recorded_at: Tue, 13 Sep 2016 02:08:36 GMT
recorded_with: VCR 3.0.3
