---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","sender":{"first_name":"Luis","last_name":"Buenaventura","email":"6be22eefb66e618c6dba45f797b6e011@email.com","mobile":"+639175551111"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08115ad667f4e2e4c8dfe3057cb42785"
    body:
      encoding: UTF-8
      string: '{"sender":{"id":"2ad641ba-59ff-4204-99e3-c061eaeeaba5","email":"6be22eefb66e618c6dba45f797b6e011@email.com","first_name":"Luis","last_name":"Buenaventura","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":"+639175551111","address":null,"city":null,"state":null,"zip_code":null,"country":"PH","birthdate":null},"password":"da4f80a73efe1d328b137b77497c549b"}'
  recorded_at: Wed, 26 Apr 2017 07:48:50 GMT
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders/2ad641ba-59ff-4204-99e3-c061eaeeaba5/recipients.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","recipient":{"sender_id":"2ad641ba-59ff-4204-99e3-c061eaeeaba5","first_name":"Jack
        John","last_name":"S. Ong","mobile":"+6398199818181"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b020deee421e57b3a5a9ac32127dbd8a"
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"e49d4913-d64b-46cd-af47-bc47d6361821","first_name":"Jack
        John","last_name":"S. Ong","email":null,"mobile":"+6398199818181","sender_id":"2ad641ba-59ff-4204-99e3-c061eaeeaba5","address":null,"zip_code":null,"city":null,"state":"Metro
        Manila","country":"PH"}}'
  recorded_at: Wed, 26 Apr 2017 07:48:51 GMT
recorded_with: VCR 3.0.3
