---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","sender":{"first_name":"Annabell","last_name":"Sawayn","email":"idell.olson@beer.io"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"faa881d4912b8b5fa48f70952b3e16cb"
    body:
      encoding: UTF-8
      string: '{"sender":{"id":"044d2be5-e78d-419d-9c43-8990145d067a","email":"idell.olson@beer.io","first_name":"Annabell","last_name":"Sawayn","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":null,"address":null,"city":null,"state":null,"zip_code":null,"country":"PH","birthdate":null},"password":"82c23695e5799ef98cb829169f2b537d"}'
  recorded_at: Wed, 26 Apr 2017 09:11:57 GMT
- request:
    method: get
    uri: https://staging.bloomremit.net/api/v2/billers.json?api_secret=[api_secret]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0016554b0e1f09735478ddc56bcd26c8"
    body:
      encoding: UTF-8
      string: '[{"slug":"GHPHONE","service_charge":"0.0","first_field":"Account Number","first_field_format":"Numeric","first_field_width":8,"second_field":"Subscriber
        Name  (ex. JDELACRUZ)","second_field_format":"Alphanumeric","second_field_width":16},{"slug":"CABLELINK","service_charge":"0.0","first_field":"Account
        Number","first_field_format":"Numeric","first_field_width":16,"second_field":"Subscriber
        Name  (ex. JDELACRUZ)","second_field_format":"Alphanumeric","second_field_width":16},{"slug":"DIGITEL","service_charge":"0.0","first_field":"Account
        Number *(10-DIGIT)","first_field_format":"Numeric","first_field_width":16,"second_field":"2
        Digit AreaCode + Telephone Numbe","second_field_format":"Alphanumeri[...]
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v3/txns?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"api_token":"[api_token]","agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","recipient_id":null,"sender_id":"044d2be5-e78d-419d-9c43-8990145d067a","txn":{"sender_id":"044d2be5-e78d-419d-9c43-8990145d067a","account_name":"Jack
        Johnson","account_number":"1234567890","callback_url":"http://callback.com/callback","target_slug":"PLDT","amount":500,"client_external_id":"f38a2bd5-e5e9-4251-90eb-92007d60068a"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":["Duplicate transaction: there is another transaction with
        the same account_name, account_number, and receivable_in_dest_currency made
        less than 30 seconds ago"]}'
  recorded_at: Wed, 26 Apr 2017 09:12:02 GMT
recorded_with: VCR 3.0.3
