---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","sender":{"first_name":"Beaulah","last_name":"Connelly","email":"lazaro.herzog@toyfisher.biz"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36605936971c37002cfe9798bf055c78"
    body:
      encoding: UTF-8
      string: '{"sender":{"id":"fa150128-8982-426e-8ba0-abde5260d13f","email":"lazaro.herzog@toyfisher.biz","first_name":"Beaulah","last_name":"Connelly","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":null,"address":null,"city":null,"state":null,"zip_code":null,"country":"PH","birthdate":null},"password":"4c1ff195ef0e7241765beea57404875d"}'
  recorded_at: Wed, 26 Apr 2017 09:11:29 GMT
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders/fa150128-8982-426e-8ba0-abde5260d13f/recipients.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","recipient":{"sender_id":"fa150128-8982-426e-8ba0-abde5260d13f","first_name":"Jack","last_name":"Johnson","mobile":"+6398199818181"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b0e1f41b27562ce1e4f1406d967aa42"
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"1a82eb2f-da24-46ae-aa61-3c5947a07250","first_name":"Jack","last_name":"Johnson","email":null,"mobile":"+6398199818181","sender_id":"fa150128-8982-426e-8ba0-abde5260d13f","address":null,"zip_code":null,"city":null,"state":"Metro
        Manila","country":"PH"}}'
  recorded_at: Wed, 26 Apr 2017 09:11:30 GMT
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v3/txns?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"api_token":"[api_token]","agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","recipient_id":"1a82eb2f-da24-46ae-aa61-3c5947a07250","sender_id":"fa150128-8982-426e-8ba0-abde5260d13f","txn":{"sender_id":"fa150128-8982-426e-8ba0-abde5260d13f","recipient_id":"1a82eb2f-da24-46ae-aa61-3c5947a07250","account_name":"Jack
        Johnson","account_number":"1234567890","callback_url":"http://callback.com/callback","currency":"PHP","target_slug":"BDOI","amount":500,"client_external_id":"f31d04e5-ebe1-4a3b-83f0-b4aaabbc6306"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"94e75b9d740a526908683f4db23bae87"
    body:
      encoding: UTF-8
      string: '{"txn":{"id":"d2f6d22a-72fd-45f2-bd1f-50bc57f8c0d1","teller_id":"83c94dc8-ce0b-44c9-8b3a-2f8e092a2bfa","recipient_id":"1a82eb2f-da24-46ae-aa61-3c5947a07250","orig_currency":"PHP","dest_currency":"PHP","paid_in_orig_currency":600.0,"receivable_in_dest_currency":500.0,"payout_method":"BDOI","tracking_sender":null,"tracking_number":null,"status_description":null,"flat_fee_in_orig_currency":0.0,"forex_margin":0.0,"account_name":"Jack
        Johnson","account_number":"1234567890","callback_url":"http://callback.com/callback","status":"incomplete","vendor_external_id":null,"sender_id":"fa150128-8982-426e-8ba0-abde5260d13f"}}'
  recorded_at: Wed, 26 Apr 2017 09:11:33 GMT
recorded_with: VCR 3.0.3
