---
http_interactions:
- request:
    method: get
    uri: https://bloom.solutions/api/v2/billers.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a2d5ae12d79844322a29c11150b53b03"
    body:
      encoding: UTF-8
      string: '[{"slug":"TEST","service_charge":"5.0","first_field":"Account ID","first_field_format":"Alphanumeric","first_field_width":20,"second_field":"Account
        Name","second_field_format":"Letters","second_field_width":100}]'
  recorded_at: Wed, 20 Jul 2016 09:17:09 GMT
recorded_with: VCR 3.0.3
