---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v2/txn_previews
    body:
      encoding: UTF-8
      string: txn_preview%5Bamount%5D=0.5e3&txn_preview%5Bpayout_method%5D=BPI
    headers:
      X-Api-Partner-Id:
      - 52c48f32-07fd-4e4a-a3eb-6606b26742b7
      X-Api-Secret:
      - "[api_secret]"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b4ac317916f44e2f342cb3f111f12fa"
    body:
      encoding: UTF-8
      string: '{"txn_preview":{"amount":"500.0","payout_method":"BPI","maximum_amount":"500000.0","minimum_wait_time_in_minutes":1440,"maximum_wait_time_in_minutes":1440,"days_available":[1,2,3,4,5],"total_fees":"100.0"}}'
  recorded_at: Mon, 18 Jan 2021 07:54:33 GMT
recorded_with: VCR 6.0.0
