---
http_interactions:
- request:
    method: get
    uri: https://api.bloom.solutions/api/v2/billers.json?api_secret=[api_secret]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b2b6b0c9b22a8594e8b26493c33c794"
    body:
      encoding: UTF-8
      string: '[{"slug":"BATELEC1","service_charge":"5.0","first_field":"Account No","first_field_format":"Numeric","first_field_width":10,"second_field":"Subscriber
        Name","second_field_format":"Alphanumeric","second_field_width":30},{"slug":"NEECO2_AREA1","service_charge":"5.0","first_field":"Account
        No.","first_field_format":"Numeric","first_field_width":10,"second_field":"Subscriber
        Name","second_field_format":"Alphanumeric","second_field_width":30},{"slug":"COMCLARK","service_charge":"7.0","first_field":"Account
        No.","first_field_format":"Numeric","first_field_width":13,"second_field":"Subscriber
        Name","second_field_format":"Alphanumeric","second_field_width":30},{"slug":"CENTRAL_LUZON[...]
