---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v2/txn_previews
    body:
      encoding: UTF-8
      string: txn_preview%5Bamount%5D=0.5e3&txn_preview%5Bpayout_method%5D=ABSD%2312341234
    headers:
      X-Api-Partner-Id:
      - 52c48f32-07fd-4e4a-a3eb-6606b26742b7
      X-Api-Secret:
      - "[api_secret]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63375928b1681db12bc63f7eeaadf521"
    body:
      encoding: UTF-8
      string: '{"txn_preview":{"amount":"500.0","payout_method":"ABSD#12341234"},"errors":["Cannot
        find deposit target with slug ABSD#12341234"]}'
  recorded_at: Mon, 18 Jan 2021 08:15:47 GMT
recorded_with: VCR 6.0.0
