---
http_interactions:
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","sender":{"first_name":"Judd","last_name":"Kozey","email":"ford_mayert@lang.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0dc879a773ee53e4ef1acbeca80fb104"
    body:
      encoding: UTF-8
      string: '{"sender":{"id":"956e32ec-dd85-4631-b806-da20c0b2e82f","email":"ford_mayert@lang.com","first_name":"Judd","last_name":"Kozey","passport_number":null,"passport_expiry_date":null,"tin":null,"mobile":null,"address":null,"city":null,"state":null,"zip_code":null,"country":"PH","birthdate":null},"password":"f4ece5ab134c5215557adb4bd5dd11c1"}'
  recorded_at: Wed, 26 Apr 2017 07:48:53 GMT
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders/956e32ec-dd85-4631-b806-da20c0b2e82f/recipients.json?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","recipient":{"sender_id":"956e32ec-dd85-4631-b806-da20c0b2e82f","first_name":"Jack","last_name":"Johnson","mobile":"+6398199818181"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93afe4eafe5adb0f9c29156883b77c40"
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"f6bb7e07-1037-4591-b5ab-5c89e88bfe87","first_name":"Jack","last_name":"Johnson","email":null,"mobile":"+6398199818181","sender_id":"956e32ec-dd85-4631-b806-da20c0b2e82f","address":null,"zip_code":null,"city":null,"state":"Metro
        Manila","country":"PH"}}'
  recorded_at: Wed, 26 Apr 2017 07:48:53 GMT
- request:
    method: post
    uri: https://staging.bloomremit.net/api/v1/partners/[api_token]/senders/956e32ec-dd85-4631-b806-da20c0b2e82f/remittances?api_secret=[api_secret]
    body:
      encoding: UTF-8
      string: '{"agent_id":"f7953643-11ee-4e72-9aa0-be5b97f7220b","recipient_id":"f6bb7e07-1037-4591-b5ab-5c89e88bfe87","remittance":{"sender_id":"956e32ec-dd85-4631-b806-da20c0b2e82f","recipient_id":"f6bb7e07-1037-4591-b5ab-5c89e88bfe87","account_name":"Jack
        Johnson","account_number":"1234567890","callback_url":"http://callback.com/callback","dest_currency":"PHP","orig_currency":"KRW","flat_fee_in_orig_currency":3000,"payout_method":"BDO","receivable_in_dest_currency":500}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"500","error":"Internal Server Error"}'
  recorded_at: Wed, 26 Apr 2017 07:48:55 GMT
recorded_with: VCR 3.0.3
