---
http_interactions:
- request:
    method: get
    uri: https://api.bloom.solutions/api/v1/rates?api_secret=[api_secret]&currency&partner_id=[api_token]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b302c29a23f73f1fbf690c5a7dd0f44"
    body:
      encoding: UTF-8
      string: '{"PHPUSD":0.0211304802,"PHPCAD":0.0273690157,"PHPJPY":2.1709884527,"PHPAUD":0.0278248768,"PHPSGD":0.0286553375,"PHPHKD":0.1638803053,"PHPKRW":23.3148723404,"PHPEUR":0.018755442,"PHPGBP":0.0158666808,"PHPIDR":277.6073905106,"PHPVND":471.2417528638,"PHPMYR":0.0863072265,"PHPTHB":0.7347628468,"PHPZAR":0.3021142064,"PHPCNY":0.1411627866,"PHPBTC":3.453939680486874e-05,"USDAUD":1.35047,"USDKRW":1180.983849,"USDEUR":0.908382,"USDGBP":0.756759,"USDPHP":46.878799,"USDCAD":1.301499,"USDJPY":102.653648,"USDSGD":1.352324,"USDHKD":7.755421,"USDCNY":6.644376,"USDBTC":0.00156472484313633}'
  recorded_at: Fri, 09 Sep 2016 13:34:14 GMT
- request:
    method: get
    uri: https://api.bloom.solutions/api/v1/rates?api_secret=[api_secret]&currency=PHPBTC&partner_id=[api_token]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74287763c8de8df7bcdaf565692b08cc"
    body:
      encoding: UTF-8
      string: '3.453939680486874e-05'
  recorded_at: Fri, 09 Sep 2016 13:34:14 GMT
- request:
    method: get
    uri: https://api.bloom.solutions/api/v1/rates?api_secret=[api_secret]&currency=invalid&partner_id=[api_token]
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37a6259cc0c1dae299a7866489dff0bd"
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Fri, 09 Sep 2016 13:34:15 GMT
recorded_with: VCR 3.0.3
